
/* -------------------------------------------- */
/* FONTS                                        */

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');


/* -------------------------------------------- */
/* VARIABLES                                    */

/* for responsive layouts                       */
/* tablet:                                769px */
/* desktop:                              1024px */
/* wide:                                 1216px */
/* hd:                                   1408px */

:root {
    --color--primary:                #a10013;
    --color--secondary:              #777777;
    --color--lighter:                #f3f3f3;
    --color--light:                  #e4e4e4;
    --color--dark:                   #474747;
    --color--darker:                 #161616;
    --color--warning:                #fc7617;
    --color--success:                #00a775;

    --font--default:    'Fira Mono', monospace;
    --font--small:                     1.35rem;

    --padding--default:                   3rem;
    --margin--default:                    3rem;

    --container--max-width:              96rem;
}


/* -------------------------------------------- */
/* RESET AND DEFAULT                            */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-family: var(--font--default);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.45;
    color: var(--color--dark);
    background-color: var(--color--lighter);
}

strong {
    font-weight: 700;
}

small,
.small {
    font-size: var(--font--small);
}

/* titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* links */
a {
    color: var(--color--primary);
    text-decoration: none;
}

/* buttons */
button {
    border: none;
}

/*
Removing blue border in Chrome is not recommended
as it regresses the accessibility of your site.
*/
button:focus {
    outline: 0;
}

/* styling debug variables */
pre {
    padding: var(--padding--default);
    color: var(--color--light);
    background-color: var(--color--dark);
}
