@import url('common.css');

header {
    margin-bottom: var(--margin--default);
    background-color: var(--color--darker);
}

div.navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: var(--container--max-width);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    display: block;
    padding: 2rem 1rem;
    color: var(--color--light);
}

nav li.selected {
    background-color: black;
}

nav a:hover, 
nav li.selected a {
    color: var(--color--secondary);
}

main {
    margin: 0 auto;
    max-width: var(--container--max-width);
}

main h1 {
    text-align: center;
}

main h1 small {
    color: var(--color--primary);
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color--darker);
}

footer div {
    margin: 0 auto;
    padding: var(--padding--default);
    max-width: var(--container--max-width);
    text-align: center;
}

footer p {
    font-size: var(--font--small);
    color: var(--color--light);
}
